body {
    background-image: url("vector-speaker.jpg");
    background-size: cover;
    color: #fff;
    font: 16px/1.4 "Nanum Myeongjo", serif;
}

header {
    width: 40%;
}

h1 {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
}

header, form, button, footer {
    margin: 2em;
}
form {
    width: 40%;
}

.enterInfo {
    display: block;
    width: 40%;
}

.enterInfo > input {
    float: right;
}