#mobile-menu {
    display: block;
    position: fixed;
    right: 2vw;
    top: 2vw;
    font-size: 2rem;
    color: white;
    z-index: 2;
}


#mobile-menu:target ~ nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

nav > a {
    padding: 5px;
    height:60px;
    line-height: auto;
    border-left: 0px;
}

nav > div {
    margin-top: 1em;
} 

#home {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center top;
    position: fixed;
    overflow-y:auto;
}

#logo {
    font-size: 96px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 0;
    left: 1vw;
}

main > h1 {
    font-size: 64px;
    color: white;

}

main > a {
    border-width: 0;
    padding-top: calc(0.5em + 3px);
    padding-bottom: calc(0.5em + 3px);
    width: calc(20ch + 5px);
    background: linear-gradient(90deg, blue, lightblue, turquoise);
    margin: 16px;

}
nav {
    display: none;
    right: 2vw;
    top: 4rem;
    font-size: 3em;
    align-items: center;
}

.teaser {
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -4em);
}
.teaser > div {
    flex-direction: column
}

.nav {
    display: block;
    position: fixed;
    right: 2vw;
    top: 0;
    font-size: 4rem;
    color: white;
    z-index: 2;
}

