html,body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.5vh;
    color:white;
    text-decoration: none;
    overflow: hidden;
}
#home {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: center top;
    margin-top: 60px;
    text-decoration: none;
}

#logo {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 10em;
    margin-left: 80px;
}

.flex-container > .nav1 {
    position: fixed;
    top: 5px;
    right: 0;
    width: 200px;
    font-size: 10px;
    display: flex;
    background-color: white;
    text-decoration: none;
    color: brown;
}

.nav1 > a
{
    margin: 0px 4px 0px 4px;

}

.flex-container > .nav2 {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    font-size: 10px;
    justify-content: space-evenly;
    background-color: white;
    text-decoration: none;
}

.nav2>a:nth-last-child(1),
.nav2>a:nth-last-child(2),
.nav2>a:nth-last-child(3)
{
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

 
header > nav1 > a:last-child {
    margin-right: 10vw;
}

.nav2 > a:first-child
{
    padding-left: 150px;
}

.nav2 a:last-child
{
    width: 150px;
}

.nav2 > a
{
    text-decoration: none;
    color: brown;
    padding: 4px;
}

.nav3 {
    position: fixed;
    top: 45px;
    padding: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: saddlebrown;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

main > h1 {
    font-size: 5em;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, calc(-50% + 2em));
    white-space: nowrap;
    text-align: center;
}

main > h2 {
    font-family:sans-serif;
    font-size: 2.5em;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, calc(-50% + 2em));
    white-space: nowrap;
    text-align: center;
}

 